/* src/components/Header.css */
.navbar {
    position: fixed; /* Fixes the navbar at the top */
    top: 0;
    right: 25; /* Aligns the navbar to the right side of the viewport */
    width: 100%; /* Full width of the viewport */
    max-width: 100%; /* Prevents navbar from extending beyond viewport */
    color: white; /* White text color */
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Padding around the navbar */
    box-sizing: border-box; /* Ensures padding is included in width */
    z-index: 2; /* Ensures the navbar is above the particles */
    flex-direction: row; /* Align items in a row */
     /* Optional bottom border for separation */
}

.navbar .left-content {
    display: flex;
    align-items: center;
}

.navbar .left-content img {
    width: 50px; /* Adjust logo size as needed */
    margin-right: 20px; /* Space between logo and text */
}

.navbar .left-content span {
    margin-right: 20px; 
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;/* Space between text and navigation links */
}

.navbar .nav-links {
    margin-left: auto; /* Pushes the navigation links to the right */
    display: flex; /* Aligns links horizontally */
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 15px; /* Padding around links */
    margin-left: 1px; /* Spacing between links */
    border-radius: 5px; /* Rounded corners for links */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.navbar a:hover {
    background-color: #555; /* Darker background on hover */
    color: #fff; 
    /* Text color on hover */
}

.navbar a.active {
    background-color: #007bff; /* Highlight color for the active link */
    color: #fff; /* Text color for the active link */
}

.navbar a:focus {
    outline: 2px solid #007bff; /* Outline for focused link */
    outline-offset: 2px; /* Offset outline from the link */
}
