/* src/components/Header.css */
.navbar {
    position: fixed; /* Fixes the navbar at the top */
    top: 0;
    width: 100%; /* Full width of the viewport */
    background-color: #02052c; /* Navbar background color */
    color: white; /* White text color */
    z-index: 2; /* Ensures the navbar is above other elements */
  }
  
  .navbar .navbar-brand {
    display: flex;
    padding: auto;
    color: white;
    align-items: center;
  }
  
  .navbar .navbar-brand img {/* Adjust logo size */
    margin-right: 15px; /* Space between logo and text */
  }
  
  .navbar .navbar-brand span {
    font-size: 1.25rem; /* Larger font size for brand name */
    font-family: Arial, Helvetica, sans-serif; /* Font family for brand name */
  }
  
  .navbar .navbar-nav {
    margin-left: auto; /* Pushes the navigation links to the right */
  }
  
  .navbar .nav-item {
    margin-left: 10px; /* Spacing between nav items */
  }
  
  .navbar .nav-link {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; /* Font family for links */
    padding: 10px 15px; /* Padding around links */
    border-radius: 5px; /* Rounded corners for links */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  }
  
  .navbar .nav-link:hover {
    background-color: #555; /* Darker background on hover */
    color: #fff; /* Text color on hover */
  }
  
  .navbar .nav-link.active {
    background-color: white; /* Highlight color for the active link */
    color: #02052c; /* Text color for the active link */
  }
  
  .navbar .nav-link:focus {
    outline: 2px solid #007bff; /* Outline for focused link */
    outline-offset: 2px; /* Offset outline from the link */
  }
  