/* src/App.css */
.App {
  position: relative; /* Ensure that child components use relative positioning */
  overflow: hidden; /* To ensure no scrollbars appear due to positioning */
}

.particles {
  position: absolute; /* Position it absolutely to stay in the background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Lower z-index to stay behind other components */
}

.home {
  position: relative; /* Position it relatively to be above particles */
  z-index: 2; /* Higher z-index to be on top of particles */
}
